<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Pessoal</title>
    <link rel="stylesheet" href="./static/modelo.css"> 

</head>
<body>
    <h1>Página Sambas Inéditos</h1>
    <article id="describe">
      <p>
        Compositor cantor com mais de 120 músicas, sambas dolentes e partido alto link no youtube onde estou postando os videos e também estou na oneprn gravadora on line segue os links    
      </p>
      <p class="texto">
            REDE SOCIAIS <br> <br> 
            <a href="https://www.youtube.com/channel/UCzclqvjeSZUrlBuSH_ewcdA?sub_confirmation=1"> Página Youtube</a> <br>
            Your site is live at https://franciscocpierna.github.io/projeto-social-/ <br><br>
            Nas plataformas digitais da gravadora
            https://onerpm.com/artist/music?artist_id=61440&preview= <br>
            Spotify
            https://open.spotify.com/artist/3NLMo1v3SeFApv1lR8eVJN <br>
            Apple music
            https://music.apple.com/us/artist/francisco-carlos-pierna/1534422334 <br>
            Amazom
            https://www.amazon.com/s?k=Francisco+Carlos+Pierna&i=digital-music&search-type=ss&ref=ntt_srch_drd_B074F9QZPT <br><br>
             Instagram  
             instagram @carlospierna
             <aside>
                 

             </aside>


      </p>

    </article>
    
</body>
</html>